__pycache__/
.AppleDouble
.beet_cache/
.DS_Store
.env
.ipynb_checkpoints
.LSOverride
.pdm-build/
.pdm-python
.pdm.toml
.venv
*.egg
*.egg-info/
*.py[cod]
*$py.class
build/
docs/_build/
env.bak/
env/
ENV/
pdm.lock
release/
venv.bak/
venv/
