**/.DS_Store
**/__pycache__/
/advancements/
/build/
/data/
/DIM-1/
/DIM1/
/entities/
/playerdata/
/poi/
/region/
/stats/
/level.dat
/level.dat_old
/session.lock
/uid.dat
/venv/
/scripts/src/bookshelf_scripts.egg-info/
