#!tag "bs.load:enumerate"

{% include 'core/header.jinja' %}
data modify storage bs:data load[{version:[{{ major }},{{ minor }},{{ patch }}]}].modules append value "{{ module }}"

execute unless score ${{ module }}.major load.status matches {{ major }}.. run scoreboard players set ${{ module }}.major load.status {{ major }}
execute if score ${{ module }}.major load.status matches {{ major }} unless score ${{ module }}.minor load.status matches {{ minor }}.. run scoreboard players set ${{ module }}.minor load.status {{ minor }}
execute if score ${{ module }}.major load.status matches {{ major }} if score ${{ module }}.minor load.status matches {{ minor }} unless score ${{ module }}.patch load.status matches {{ patch }}.. run scoreboard players set ${{ module }}.patch load.status {{ patch }}
