{
  "datapacks": [
    {
      "name": {{ name }},
      "description": {{ description }},
      "pack_format": {{ pack_format }},
      "modules": [
        {
          "name": {{ module.name }},
          "display_name": {{ module.display_name }},
          "description": {{ module.description }},
          "documentation": {{ module.documentation }},
          {%- if icon %}
          "icon": "{{ icon }}",
          {%- endif %}
          {%- if dependencies %}
          "dependencies": [
          {%- for dep in dependencies|sort() %}
            "{{ dep }}"{% if not loop.last %},{% endif %}
          {%- endfor %}
          ],
          {%- endif %}
          {%- if weak_dependencies %}
          "weak_dependencies": [
          {%- for dep in weak_dependencies|sort() %}
            "{{ dep }}"{% if not loop.last %},{% endif %}
          {%- endfor %}
          "features": [
            {%- for feature in features|sort() %}
            {
              "name": "{{ feature.name }}",
              "documentation": "{{ feature.documentation }}",
              "authors": [
              {%- for author in feature.authors|sort() %}
                "{{ author }}"{% if not loop.last %},{% endif %}
              {%- endfor %}
              ],
              {%- if feature.contributors %}
              "contributors": [
              {%- for contributor in feature.contributors|sort() %}
                "{{ contributor }}"{% if not loop.last %},{% endif %}
              {%- endfor %}
              ],
              {%- endif %}
              "created": {
                "date": "{{ feature.created.date }}",
                "version": "{{ feature.created.version }}"
              },
              "updated": {
                "date": "{{ feature.updated.date }}",
                "version": "{{ feature.updated.version }}"
              }
              {%- if feature.dependencies -%}
              ,
              "dependencies": [
              {%- for dep in feature.dependencies|sort() %}
                "{{ dep }}"{% if not loop.last %},{% endif %}
              {%- endfor %}
              ]
              {%- endif %}
              {%- if feature.week_dependencies -%}
              ,
              "week_dependencies": [
              {%- for dep in feature.week_dependencies|sort() %}
                "{{ dep }}"{% if not loop.last %},{% endif %}
              {%- endfor %}
              ]
              {%- endif %}
            }{% if not loop.last %},
            {% endif -%}
            {% endfor +%}
          ]
        }
      ]
    }
  ]
}
