{% include 'core/header.jinja' %}
tellraw @s [{"text": "[{{ module }} documentation]", "color": "dark_aqua", "clickEvent": {"action": "open_url", "value": "{{ documentation }}"}, "hoverEvent": {"action": "show_text", "contents": "Click to open URL"}}]
