.bs-treeview ul, .bs-treeview li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.bs-treeview li li {
  position: relative;
  padding: .15rem 0 .15rem 1rem;
  margin-left: .5rem;
  border-left: 1px solid #636363;
}

.bs-treeview li li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: .75rem;
  height: 1.15rem;
  border-left: 1px solid #636363;
  border-bottom: 1px solid #636363;
}

.bs-treeview li li:last-child {
  border-color: transparent;
}

.bs-treeview {
  margin-bottom: 1rem;
}

[class^="bs-nbt-"] {
  display: inline-block;
  background-image: url('nbt-sprite.png');
  background-position: -16px -48px;
  background-repeat: no-repeat;
  background-size: 64px;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.bs-nbt-byte {
  background-position: 0px 0px;
}

.bs-nbt-double {
  background-position: -16px 0px;
}

.bs-nbt-float {
  background-position: -32px 0px;
}

.bs-nbt-int {
  background-position: -48px 0px;
}

.bs-nbt-long {
  background-position: 0px -16px;
}

.bs-nbt-short {
  background-position: -16px -16px;
}

.bs-nbt-string {
  background-position: -32px -16px;
}

.bs-nbt-compound {
  background-position: -48px -16px;
}

.bs-nbt-byte-array {
  background-position: 0px -32px;
}

.bs-nbt-int-array {
  background-position: -16px -32px;
}

.bs-nbt-list {
  background-position: -32px -32px;
}

.bs-nbt-bool {
  background-position: -48px -32px;
}

.bs-nbt-long-array {
  background-position: 0px -48px;
}

.bs-nbt-number {
  background-position: -32px -48px;
}
